* {
margin-top: 0.5em;
margin-left: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.card{
  margin-left: auto;
  margin-right: auto;
}

.back{
  margin-left: 5%;
  margin-top: 5%;
}

.icon{
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
}

.button{
  float:right;
  margin-right: 5%;
  margin-top: 5%;
}
