<div class="content-heading">Add Client</div>
<button type="button" class="mb-sm btn btn-primary" (click)="showPersonal()">
    Personal
</button>
<button type="button" class="mb-sm btn btn-primary" (click)="showContact()">
    Contact
</button>
<button type="button" class="mb-sm btn btn-primary" (click)="showRace()">
    Race
</button>
<form  [formGroup]="valForm" role="form" (submit)="submitForm($event, valForm.value)">
  <div *ngIf="togglePersonal" class="animated fadeInDown panel panel-default">
     <div class="panel-heading">Personal Information</div>
     <div class="panel-body">
           <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" placeholder="First Name" formControlName="first_name" [(ngModel)]="first_name" required=""/>
              <span class="text-danger" *ngIf="valForm.controls['first_name'].hasError('required') && (valForm.controls['first_name'].dirty || valForm.controls['first_name'].touched)">This field is required</span>
          </div>
           <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" placeholder="Last Name" formControlName="last_name" [(ngModel)]="last_name" />
              <span class="text-danger" *ngIf="valForm.controls['last_name'].hasError('required') && (valForm.controls['last_name'].dirty || valForm.controls['last_name'].touched)">This field is required</span>
           </div>
           <div class="form-group">
              <label>Say something nice</label>
              <input class="form-control" type="text" placeholder="Say something nice" formControlName="phone" [(ngModel)]="phone" />
              <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">This field is required</span>
           </div>
     </div>
  </div>



  <div *ngIf="toggleContact" class="animated fadeInDown panel panel-default">
     <div class="panel-heading">Contact Information</div>
     <div class="panel-body">
           <div class="form-group">
              <label>Address</label>

              <input class="form-control" type="text" placeholder="Address">
              <!-- <input class="form-control" type="text" placeholder="First Name" formControlName="first_name" [(ngModel)]="first_name" required=""/>
              <span class="text-danger" *ngIf="valForm.controls['first_name'].hasError('required') && (valForm.controls['first_name'].dirty || valForm.controls['first_name'].touched)">This field is required</span> -->
          </div>
           <div class="form-group">
              <label>Address 2</label>

              <input class="form-control" type="text" placeholder="Address 2">
              <!-- <input class="form-control" type="text" placeholder="Last Name" formControlName="last_name" [(ngModel)]="last_name" />
              <span class="text-danger" *ngIf="valForm.controls['last_name'].hasError('required') && (valForm.controls['last_name'].dirty || valForm.controls['last_name'].touched)">This field is required</span> -->
           </div>
           <div class="form-group">
              <label>City</label>

              <input class="form-control" type="text" placeholder="City">
              <!-- <input class="form-control" type="text" placeholder="Say something nice" formControlName="phone" [(ngModel)]="phone" />
              <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">This field is required</span> -->
           </div>
     </div>
  </div>

  <div *ngIf="toggleRace" class="animated fadeInDown panel panel-default">
     <div class="panel-heading">Residency & Race</div>
     <div class="panel-body">
           <div class="form-group">
              <label>Country of birth</label>
              <select >
                <option>Hi</option>
                <option>Hi</option>
              </select>

              <!-- <input class="form-control" type="text" placeholder="First Name" formControlName="first_name" [(ngModel)]="first_name" required=""/>
              <span class="text-danger" *ngIf="valForm.controls['first_name'].hasError('required') && (valForm.controls['first_name'].dirty || valForm.controls['first_name'].touched)">This field is required</span> -->
          </div>
           <div class="form-group">
              <label>Race</label>
              <select >
                <option>Hi</option>
                <option>Hi</option>
              </select>

              <!-- <input class="form-control" type="text" placeholder="Last Name" formControlName="last_name" [(ngModel)]="last_name" />
              <span class="text-danger" *ngIf="valForm.controls['last_name'].hasError('required') && (valForm.controls['last_name'].dirty || valForm.controls['last_name'].touched)">This field is required</span> -->
           </div>
           <div class="form-group">
              <label>Primary Language</label>
              <select >
                <option>Hi</option>
                <option>Hi</option>
              </select>

              <!-- <input class="form-control" type="text" placeholder="Say something nice" formControlName="phone" [(ngModel)]="phone" />
              <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">This field is required</span> -->
           </div>
           <button class="btn btn-sm btn-primary" type="submit">Add Client</button>
     </div>
  </div>
  </form>
  <button type="button" class="back mb-sm btn btn-primary" (click)="goBack()">
      Back
  </button>
