h1 {
  color: #000;
}
* {
margin-top: 0.5em;
margin-left: 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container {
  width: 100%;
}

.card-header{
  font-size: 25px;
  font-weight: bold;
}

.addClient{
  float:right;
  margin-right: 5%;
}

.button{
  /* float:right;
  margin-right: 5%; */
  /* margin-top: 5%; */
  bottom: 5%;
  right: 5%;
  position: fixed;
  z-index:1;
}

.icon{
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
}

.card{
  margin-left: auto;
  margin-right: auto;
}
