<div *ngIf="user">
<h1>Lunch Menu</h1>
<form class="example-form" class="flex-container"  >
  <mat-form-field class="example-full-width" >
    <input matInput placeholder="First Name" value="">
  </mat-form-field>
   <div  fxFlex="5%" >  </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="">
  </mat-form-field>
</form>
<button type="button" mat-icon-button (click)="sidenav.open()">
  <mat-icon>save</mat-icon>
</button>
<mat-checkbox>Check me!</mat-checkbox>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shin Uchiha</mat-card-title>
        <mat-card-subtitle>Drop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shin Uchiha</mat-card-title>
        <mat-card-subtitle>Drop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shin Uchiha</mat-card-title>
        <mat-card-subtitle>Drop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shin Uchiha</mat-card-title>
        <mat-card-subtitle>Drop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
