<div class="row">
  <div class="col-md-3">
    <h3>Test form</h3>
    <form class="test-form" #giTest="ngForm">
      <legend>Item Input</legend>
      <div class="input-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          minlength="5"
          pattern="[A-Z].*"
          maxlength="tagLength"
          placeholder="Item name"
          required
          #title
          name="title"
          [(ngModel)]="model.title"
        >
        <span class="length-descriptor">{{title.value.length}} / {{tagLength}}</span>
      </div>
      <div class="input-group">
        <label for="tag-line">Short desc.</label>
        <input
          type="text"
          id="tag-line"
          maxlength="tagLength"
          placeholder="Short description"
          #tagline
          name="tagline"
          [(ngModel)]="model.tagline"
        >
        <span class="length-descriptor">{{tagline.value.length}} / {{tagLength}}</span>
      </div>
      <div class="input-group">
        <label for="price">Price</label>
        <input
          type="text"
          data-type="money"
          id="price"
          pattern="\$?([1-9]\d*|[1-9]\d{1,2}(,\d{3})*)(\.\d{2})?"
          placeholder="Price"
          required
          name="price"
          [(ngModel)]="model.price"
        >
      </div>
      <div class="area-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          maxlength="2400"
          resizable="false"
          #description
          name="description"
          [(ngModel)]="model.description"
        ></textarea>
        <span class="length-descriptor">{{description.value.length}} / {{maxLength}}</span>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <ul>
      <li>{{model.title}}</li>
      <li>{{model.tagline}}</li>
      <li>{{model.price}}</li>
      <li>{{model.description}}</li>
    </ul>
  </div>
</div>