.test-form {
  padding: .5em .5em 2em .5em;
  border: solid 1px #DEF;

  .row {
    width: 100%;
  }

  label {
    padding-right: 1em;
  }

  .input-group {
    border-bottom: solid 1px #DDD;
    padding-bottom: .2em;
    margin-bottom: .4em;
    display: block;

    label {
      text-align: right;
      width: 7em;
    }

    input {
      width: 13em;
    }
  }

  .input-group:last-of-type {
    border-bottom: none;
  }

  .length-descriptor {
    color: #888;
    padding-left: .6em;
  }

  .area-group {
    padding: .3em 0;
    > * {
      display: block;
    }

    > textarea {
      height: 5em;
      width: 100%;
    }

    > span {
      text-align: right;
    }
  }

  input, textarea {
    border: solid 1px #ACE;
    border-left-width: .7em;
    border-radius: .5em 0 0 .5em;
    transition: border .4s;
    padding: 0 .3em;
  }

  input[data-type=money] {
    text-align: right;
  }

  input[data-type=money]::-moz-placeholder {
    text-align: left;
  }

  input[data-type=money]::placeholder {
    text-align: left;
  }

  input:valid:required {
    border-color: #093;
  }

  input:invalid {
    border-color: #903;
  }
}